
.gui_zoomable {
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
}

#gui_cont {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
}

#chat_input {
    position: absolute;
    width: 30%;
    height: 40px;
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: $colourDB32DarkBlurple;
    background-color: $colourDB32WhiteOpacity80;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 0.1em;
    line-height: 1.2;
    text-align: center;
    visibility: hidden;
}

.normal_cursor {
    cursor: url(./assets/img/gui/hud/normal-cursor.png), auto;
}

.hand_cursor {
    cursor: $cursorHand;
}

.attack_cursor {
    cursor: url(./assets/img/gui/hud/attack-cursor.png), auto;
}

.gui_icon {
    //width: 34px;
    height: 34px;
    padding: 4px;
    pointer-events: auto;
    user-select: none;
    &:hover {
        -webkit-filter: brightness(150%);
        transform: scale(1.2);
    }
}

.inline_cont {
    display: flex;
    user-select: none;
}

.text_counter {
    position: relative;
    top: 8px;
    //left: 40px;
    height: 30px;

    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 10px;

    user-select: none;
    font-size: 24px;
    font-weight: bold;
    color: $colourDB32White;

    -webkit-text-stroke: 1px $colourDB32VeryDarkPurple;
}

.text_counter_transition {
    visibility: hidden;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-timing-function: ease-in;
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

// Top left corner.
#top_left_corner_cont {
    position: absolute;
    display: block;
    top: 10px;
    left: 10px;
    pointer-events: none;
    //transform: translateY(-50%);
    transform-origin: top left;
}

.gui_counter_icon {
    width: 16px;
    height: 16px;
    padding: 1px;
    margin-top: 12px;
    pointer-events: auto
}

// Top right corner.
#top_right_corner_cont {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    top: 10px;
    right: 10px;
    float: right;
    pointer-events: none;
    transform-origin: top right;
}

// Bottom left corner.
#bottom_left_corner_cont {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 10px;
    pointer-events: none;
    transform-origin: bottom left;
}

// Bottom right corner.
#bottom_right_corner_cont {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    bottom: 10px;
    right: 10px;
    float: right;
    pointer-events: none;
    transform-origin: bottom right;
}

#hp_energy_bars_cont {
    position: absolute;
    left: 50%;
    bottom: 80px;
    transform: translateX(-50%);
}

#audio_counter, #gui_zoom_counter {
    position: relative;
    top: 8px;
    left: -8px;
    width: 90px;
    visibility: hidden;
}

#quick_turn_icon, #fullscreen_icon, #virtual_dpad_icon {
    opacity: 0.5;
    visibility: hidden;
}

#inventory_icon {
    position: absolute;
    bottom: 10px;
    right: 50px;
}