
#stats_panel {
    visibility: hidden;
}

#stats_inner_cont {
    height: 100%;
    display: grid;
    grid-template-columns: 32% 2% auto;
}

#stat_icons_cont {
    background-color: $colourDB32IronGreyOpacity80;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, 20%);
    align-items: center;
    justify-items: center;
    padding: 10px;
}

.stat_icon_cont_cont {
    height: 100%;
}

.stat_icon_cont {
    border: 6px solid $colourDB32VeryDarkPurple;
    text-align: center;
    background-color: $colourDB32White;
    height: 68%;
    margin: 13px;
    cursor: $cursorHand;
    &:hover {
        filter: brightness(150%);
        transform: scale(1.2);
    }
}

.stat_icon {
    height: 100%;
}

#stat_info_cont {
    text-align: center;
    width: 100%;
    padding-top: 18px;
    background-color: $colourDB32SteelGreyOpacity80;
}

#stat_name {
    font-weight: bolder;
    font-size: 28px;
}

#stat_description {
    padding-left: 10px;
    padding-right: 10px;
}

#stat_level_counter {
    font-weight: bold;
    font-size: 22px;
    padding-top: 10px;
}

#stat_exp_counter {
    font-weight: bold;
    padding: 10px;
}

.stat_info_text {
    font-size: 13px;
    color: $colourDB32VeryDarkPurple;
}